<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search skills</title>
</head>
    <body>
    {% if count <= limit %}
        <h1>Найдено кандидатов {{ count }}</h1>
            {% for cand in list %}
                <p><a href="{{ url_for('templates', filename='candidate.html')}}">{{ cand.name }}</a></p>
            {% endfor %}
    {% else %}
        <h1>Найдено кандидатов {{ limit }}</h1>
            {% for cand in list[:limit] %}
                <p><a href="{{ url_for('templates', filename='candidate.html')}}">{{ cand.name }}</a></p>
            {% endfor %}
    {% endif %}

    </body>
</html>